@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  width: 90%;
  list-style: none;
  padding: 0px;
  margin: 0;
  font-family: Nunito;
}

.main {
  height: 60%;
  width: 50%;
  box-shadow: 2px 2px 1.6px rgba(0, 0, 0, 0.019),
    4.5px 4.5px 3.6px rgba(0, 0, 0, 0.028),
    7.9px 7.9px 6.3px rgba(0, 0, 0, 0.034),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.04),
    19.3px 19.3px 15.5px rgba(0, 0, 0, 0.046),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.052),
    50px 50px 40px rgba(0, 0, 0, 0.061), 100px 100px 80px rgba(0, 0, 0, 0.08);
}

.list {
  overflow-y: auto;
  padding: 10px 1.5rem;
}
::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 5px;
}
::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: #888;
  border-radius: 5px;
}
.list-items {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

@media screen and (max-width: 992px) {
  .main {
    width: 80%;
    height: 70%;
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 90%;
    height: 70%;
  }
  .list {
    padding: 10px 1rem;
  }
  form {
    flex-direction: column;
  }
  #input {
    width: 90%;
  }
}
